<div>

	<img src="https://www.google.de/logos/doodles/2015/new-years-day-2015-5648528089022464.3-hp.gif" />

	<br/>

	This is a box menu
		<div>{{_language.title}}</div>
		<div>{{_language.body}}</div>

	<div id="menus" class="dropzone"></div>

</div>