<div>
This is a strip menu
	<div>{{data.title}}</div>
	<div>{{data.body}}</div>
Strip Menu End
	<img src="https://www.google.de/logos/doodles/2015/new-years-day-2015-5648528089022464.3-hp.gif" />
</div>