<div>
This is a strip menu
	<div id="title" class="textzone">{{_language.title}}</div>
	<div id="body" class="textzone">{{_language.body}}</div>
Strip Menu End
	<img src="https://www.google.de/logos/doodles/2015/new-years-day-2015-5648528089022464.3-hp.gif" />
</div>
<div id="menus" class="dropzone"></div>