<div>
	<span class="fa-stack fa-lg">
		<i class="loading-icon {{_language._icon}}"></i>
		<i class="loading-icon {{_language._icon2}}"></i>
	</span>
	<span class="loading-text">{{_language.title}}</span>
</div>